@media (max-width: 803px){
    #container{
        overflow: hidden;
        width: 90vw;
        border-radius: 2vw;
    }
    input{
        border-radius: 10px;
        padding: 5px 5px;
        width: 60%;
        text-align: center;
    }
    button{
        border-radius: 10px;
        padding: 10px 10px;
        width: 60%;
    }
    #QRImg{
        padding: 7px;
    }
    #imgBox.show-img{
        border-radius: 10px;
    }
}